/* BODY ATTRIBUTES */



p{
	font-family: 'Righteous', cursvie;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Righteous', cursive;
    text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
  }

h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Righteous', cursive;
}

button {
    font-family: 'Righteous', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

button:hover{
    background-color: rgb(95, 20, 20);
}

li {
    color: white;
    text-align: center;
}

#footer {
    color: white;
    text-align: center;
}

label {
    color: white;
}
/* CLASS ATTRIBUTES */

.button{
    
    border: 2px solid black;
}
  
.subtitle {
    text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
    font-family: 'Righteous', cursive;
}

.image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }


.cardRevealBox {
    display: none;
}
.handText {
    display: inline;
}
  

#footer {
    color: white;
    text-align: center;
}

/*.wrapper{
    height: 100vh;
}*/

/*.wrapper{
    background-color: rgb(22, 95, 22);
}*/